env/
inicio.bat
db.sqlite3
media/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Archivos del Editor (VS Code / PyCharm) ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Credenciales Secretas (¡Súper Importante!) ---
.env
.env.local